@import '../assets/Scss/variable.scss';
$black-orange : rgb(207,81,0);
footer {
    p{margin: 0;color: white;}
    .topFooter{
        position: relative;
        height: 10px;
        background-color: $dark-orange;
        box-shadow:0px -1px 5px -1px  $black-color;
        .slideTop{
            width: 35px;
            padding: 5px;
            background-color: $black-color;
            border-radius: 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: -15px;
            cursor: pointer;
            margin: 0 auto;
            box-shadow: 0px -4px 4px rgba($black-color , 0.4);
            img{
                width: 100%;
            }
        }
    }
    .middleFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px  100px;
        background-color: $black-color;
        box-shadow:0px -1px 5px -1px  $black-color;
        img{
            width: 30px;
            margin: 5px;
        }
        .logos{
            display: flex;
            align-items: stretch;
            
        }
        .email{
            display: flex;
            align-items: center;
        }
    }
    .bottomFooter{
        padding: 5px 0;
        background-color: $black-orange;
        box-shadow:0px -1px 5px -1px  $black-orange;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    footer {
        .topFooter{
            .slideTop{
                width: 30px;
                top: -10px;

            }
        }
        .middleFooter{
            padding: 50px 50px;
        }
    }
}
@media screen and (max-width: 450px){
    footer {
        .topFooter{
            .slideTop{
                width: 28px;
                top: -8px;

            }
        }
        .middleFooter{
            padding: 50px  0;
            flex-direction: column;
            .email{
                margin-bottom: 5%;
            }
        }
    }
}