
#g-recaptcha{
    transform: scale(1);
    transform-origin: left top;
}

@media screen and (max-width: 460px){

#g-recaptcha{
    transform: scale(0.8);
}
}
@media screen and (max-width: 360px){

    #g-recaptcha{
        transform: scale(0.7);
    }
    }